html

    head
        title= blokada

    style

        include style.css

    body

        h1= "Authentication needed"

        a(href = "/login") zaloguj się
        br
        a(href = "/register") załóż konto
