html
    head
        title= upload

    style

        include style.css
    body
        h1 dodaj plik

        form(action = "/verify_file" method = "POST" enctype = "multipart/form-data")
            input(name = "name" type = "text" required placeholder = "nazwa")
            br
            input(name = "file" type = "FILE")
            br
            button(type = "Submit") Dodaj grę!